.ionnex-hero {
	bottom: 0%;
}

.ionnex-service-web {
	background: #fbfbfb url(../img/web.jpg) no-repeat right center;
	background-size: auto 100%;
}

@media screen and (max-width: 768px) {
    .ionnex-service-web {
        background-size: 100% auto!important;
        padding-bottom: 100px!important;
        background-position: center bottom;
    }
}

#header #logo .logo-1 {
  padding: 0;
  margin: 0;
  width: 50%!important;
  display: inline-block; }
#header #logo .logo-2 {
  width: 50%!important; 
  display: none; }
body {position:relative;}
