/******************************************************************
Theme Name: Softdash
Description:  Creative SaaS and Software HTML Template. You can use Softdash 
              as a better way to present and promote your start-up mobile apps, 
              saas applications, software, digital products.
Author: Codethemes
Author URI: https://themeforest.net/user/codethemes/portfolio
Version: 1.0
Created: 
******************************************************************/
/*------------------------------------------------------------------


-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1.  Common Styles
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Elements
3.  Menu 
4.  Hero
5.  Home
6.  Price
7.  Points
8.  Feature
9.  Brands
10. Review
11. Execution
12. Accordian
13. Carusel
14. Request Demo
15. Blog
16. Contact
17. Footer

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Color codes]

$primary-color	: #5fb9fd;
$primary-color2	: #5960ff;
$title-color	: #222222;
$text-color		: #777777;
$aquablue-color : #edf6ff;

$white			: #fff;
$offwhite		: #fafafa;
$black			: #222;


-----------------------------------------------------------------------*/
/*---------------------------------------------------------------------
[Typography]

Font-Family 	:	'Roboto', sans-serif;
	h1  : 	48px
	h2  : 	30px
	h3  : 	24px
	h4  : 	18px
	h5  : 	16px
	h6  : 	14px

Font-Family 	:	'Open Sans', sans-serif;
	
	p: 14px 


-----------------------------------------------------------------------*/
/* =================================== */
/*  Basic Style 
/* =================================== */
::-moz-selection {
  /* Code for Firefox */
  background-color: #5fb9fd;
  color: #fff; }

::selection {
  background-color: #5fb9fd;
  color: #fff; }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300; }

body {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625em;
  position: relative; }

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none; }

select {
  display: block; }

figure {
  margin: 0; }

a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

iframe {
  border: 0; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0; }

a[href^="tel"] {
  color: inherit;
  text-decoration: none; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0; }

.card-panel {
  margin: 0;
  padding: 60px; }

/**
 *  Typography
 *
 **/
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  font-size: 1em;
  line-height: inherit; }

.gray-bg {
  background: #f9f9ff; }

h1, h2, h3,
h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400; }

.h1, .h2, .h3,
.h4, .h5, .h6 {
  margin-bottom: 0;
  margin-top: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #222222; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px;
  color: #222222; }

td, th {
  border-radius: 0px; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clear::before, .clear::after {
  content: " ";
  display: table; }
.clear::after {
  clear: both; }

.fz-11 {
  font-size: 11px; }

.fz-12 {
  font-size: 12px; }

.fz-13 {
  font-size: 13px; }

.fz-14 {
  font-size: 14px; }

.fz-15 {
  font-size: 15px; }

.fz-16 {
  font-size: 16px; }

.fz-18 {
  font-size: 18px; }

.fz-30 {
  font-size: 30px; }

.fz-48 {
  font-size: 48px !important; }

.fw100 {
  font-weight: 100; }

.fw300 {
  font-weight: 300; }

.fw400 {
  font-weight: 400 !important; }

.fw500 {
  font-weight: 500; }

.f700 {
  font-weight: 700; }

.fsi {
  font-style: italic; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-68 {
  margin-top: 68px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-100 {
  margin-top: 100px; }

.mt-120 {
  margin-top: 120px; }

.mt-150 {
  margin-top: 150px; }

.ml-0 {
  margin-left: 0 !important; }

.ml-5 {
  margin-left: 5px !important; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-40 {
  margin-left: 40px; }

.ml-50 {
  margin-left: 50px; }

.mr-0 {
  margin-right: 0 !important; }

.mr-5 {
  margin-right: 5px !important; }

.mr-15 {
  margin-right: 15px; }

.mr-10 {
  margin-right: 10px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mb-0 {
  margin-bottom: 0px; }

.mb-0-i {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 90px; }

.mb-100 {
  margin-bottom: 100px; }

.pt-0 {
  padding-top: 0px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 90px; }

.pt-100 {
  padding-top: 100px; }

.pt-120 {
  padding-top: 120px; }

.pt-150 {
  padding-top: 150px; }

.pt-170 {
  padding-top: 170px; }

.pt-250 {
  padding-top: 250px; }

.pb-0 {
  padding-bottom: 0px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-85 {
  padding-bottom: 85px; }

.pb-90 {
  padding-bottom: 90px; }

.pb-100 {
  padding-bottom: 100px; }

.pb-120 {
  padding-bottom: 120px; }

.pb-150 {
  padding-bottom: 150px; }

.pb-170 {
  padding-bottom: 170px; }

.pt-250 {
  padding-bottom: 250px; }

.pr-30 {
  padding-right: 30px; }

.pl-30 {
  padding-left: 30px; }

.pl-90 {
  padding-left: 90px; }

.pl-110 {
  padding-left: 110px; }

.pl-7 {
  padding-left: 7%; }

.p-40 {
  padding: 40px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.fw-600 {
  font-weight: 600 !important; }

.width-100 {
  width: 100%; }

.text-italic {
  font-style: italic; }

.text-white {
  color: #fff; }

.text-black {
  color: #000; }

.transition {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }

.section-full {
  padding: 100px 0; }

.section-half {
  padding: 75px 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-rigth {
  text-align: right; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.inline-flex {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.flex-grow {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.flex-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  justify-content: flex-start; }

.flex-middle {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.flex-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.flex-top {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.flex-bottom {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.space-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.display-table {
  display: table; }

.light {
  color: #fff; }

.dark {
  color: #222; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.container.fullwidth {
  width: 100%; }
.container.no-padding {
  padding-left: 0;
  padding-right: 0; }

.no-padding {
  padding: 0; }

.section-bg {
  background: #f9fafc; }

.white-bg {
  background: #ffffff; }

@media (max-width: 767px) {
  .no-flex-xs {
    display: block !important; } }

.row.no-margin {
  margin-left: 0;
  margin-right: 0; }

@media (max-width: 767px) {
  .m-0-xs {
    margin-top: 0; } }

/*--------------------------------------------------------------
# Elements 
--------------------------------------------------------------*/
.section-gap {
  padding: 120px 0; }
  @media (max-width: 991px) {
    .section-gap {
      padding: 60px 0px; } }

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

.aquablue-bg, .version1 .price-section, .version1-1 .price-section, .version3 .price-section, .version8 .price-section, .single-feature:hover .icon {
  background: #edf6ff; }

.section-title-wrap {
  text-align: center;
  margin-bottom: 80px; }
  .section-title-wrap p {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px; }

.d1-gradient-bg, .gradient-bg, .single-price .price-top .overlay-bg, .version1 .brands-section, .version3 .brands-section, .version1-1 .brands-section, .version8 .brands-section, .single-review .userinfo-wrap .overlay-bg {
  background-image: -moz-linear-gradient(150deg, #141da2 10%, #9b5cf6 100%);
  background-image: -webkit-linear-gradient(150deg, #141da2 10%, #9b5cf6 100%);
  background-image: -ms-linear-gradient(150deg, #141da2 10%, #9b5cf6 100%); }

.d2-gradient-bg, .version1 .ct-btn, .version1 .ct-btn.active:hover, .version1-1 .ct-btn, .version1-1 .ct-btn.active:hover, .version3 .ct-btn, .version3 .ct-btn.active:hover, .signup-btn:hover, #header2 .signup-btn:hover, .single-price .price-bottom .price-btn:hover, .version-blog .pagination .page-item .page-link:focus, .version-blog .pagination .page-item.active .page-link {
  background-image: -moz-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%);
  background-image: -webkit-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%);
  background-image: -ms-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%); }

.d3-gradient-bg, .gradient-bg2, .pr-btn2, .pr-btn2:hover, .single-price2 .price-top .overlay-bg, .single-price2 .price-bottom .price-btn:hover, .accordian-tab-menu .nav-link.active {
  background-image: -moz-linear-gradient(0deg, #2c00ff 0%, #a352f5 100%);
  background-image: -webkit-linear-gradient(0deg, #2c00ff 0%, #a352f5 100%);
  background-image: -ms-linear-gradient(0deg, #2c00ff 0%, #a352f5 100%); }

.d4-gradient-bg, .gradient-bg4, #header7 .signup-btn:hover, .single-price4 .price-top .overlay-bg, .single-price4 .price-bottom .price-btn:hover, .footer-area .submit-btn {
  background-image: -moz-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
  background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%);
  background-image: -ms-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%); }

.v3-gradient-bg, .version3 .hero-section:before {
  background-image: -moz-linear-gradient(0deg, #141da2 0%, #8b3efb 100%);
  background-image: -webkit-linear-gradient(0deg, #141da2 0%, #8b3efb 100%);
  background-image: -ms-linear-gradient(0deg, #141da2 0%, #8b3efb 100%); }

.genric-btn {
  border-color: #5fbafc;
  background-color: #5fbafc;
  color: #fff;
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: .9s; }
  .genric-btn:before {
    content: '';
    background-color: #5fbafc;
    background-image: linear-gradient(to right, #5fbafc 50%, #71e1aa 100%);
    display: inline-block;
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200%;
    height: 200%;
    transition: .9s;
    z-index: -1; }
  .genric-btn:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    .genric-btn:hover:before {
      right: -100%; }

.genric-btn2 {
  border-color: #9a88ff;
  background-color: #9a88ff;
  color: #fff;
  position: relative;
  display: inline-block;
  z-index: 1;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: .9s; }
  .genric-btn2:before {
    content: '';
    background-color: #9a88ff;
    background-image: linear-gradient(to right, #9a88ff 50%, #5960ff 100%);
    display: inline-block;
    position: absolute;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 200%;
    height: 200%;
    transition: .9s;
    z-index: -1; }
  .genric-btn2:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1); }
    .genric-btn2:hover:before {
      right: -100%; }

.pr-btn2 {
  margin: 0px 5px;
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #bed2f0 !important;
  color: #fff !important; }
  .pr-btn2:hover {
    color: #fff !important; }
  @media (max-width: 413px) {
    .pr-btn2 {
      font-size: 12px; } }

.active2 {
  background: white;
  color: #222 !important; }

.border-top {
  border-top: 1px solid #edf6ff; }

.page-top-section {
  background: url(../img/footer/page-top-bg.jpg) center/cover;
  padding-top: 235px;
  padding-bottom: 40px; }
  .page-top-section .page-top-nav {
    text-align: right; }
    @media (max-width: 767px) {
      .page-top-section .page-top-nav {
        text-align: left;
        margin-top: 30px; } }
    .page-top-section .page-top-nav a {
      text-transform: uppercase !important;
      color: #fff; }
    .page-top-section .page-top-nav .lnr {
      color: #fff;
      padding: 0px 10px;
      font-weight: 700; }

.social-heading {
  max-width: 425px; }

.mw-510 {
  max-width: 510px; }

@media (max-width: 1199px) and (min-width: 991px) {
  .cta-section h1 {
    font-size: 30px; } }
@media (max-width: 991px) {
  .cta-section .justify-content-end {
    justify-content: flex-start !important; }
  .cta-section .cta-btn {
    margin-top: 30px; } }

.version1 .ct-btn {
  margin: 0px 5px;
  color: #fff;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version1 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version1 .ct-btn.active:hover {
      border-color: transparent; }
  @media (max-width: 413px) {
    .version1 .ct-btn {
      font-size: 12px; } }

.version1-1 .ct-btn {
  margin: 0px 5px;
  color: #fff;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version1-1 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version1-1 .ct-btn.active:hover {
      border-color: transparent; }
  @media (max-width: 413px) {
    .version1-1 .ct-btn {
      font-size: 12px; } }

.version2 .ct-btn {
  margin: 0px 5px;
  background: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version2 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version2 .ct-btn.active:hover {
      background: #fff;
      color: #222;
      border-color: #fff; }
  @media (max-width: 413px) {
    .version2 .ct-btn {
      font-size: 12px; } }

.version3 .ct-btn {
  margin: 0px 5px;
  color: #fff;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version3 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version3 .ct-btn.active:hover {
      border-color: transparent; }
  @media (max-width: 413px) {
    .version3 .ct-btn {
      font-size: 12px; } }

.version4 .ct-btn {
  margin: 0px 5px;
  background: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version4 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version4 .ct-btn.active:hover {
      background: #fff;
      color: #222;
      border-color: #fff; }
  @media (max-width: 413px) {
    .version4 .ct-btn {
      font-size: 12px; } }

.version7 .ct-btn {
  margin: 0px 5px;
  background: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version7 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version7 .ct-btn.active:hover {
      background: #fff;
      color: #222;
      border-color: #fff; }
  @media (max-width: 413px) {
    .version7 .ct-btn {
      font-size: 12px; } }

.version8 .ct-btn {
  margin: 0px 5px;
  background: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version8 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version8 .ct-btn.active:hover {
      background: #fff;
      color: #222;
      border-color: #fff; }
  @media (max-width: 413px) {
    .version8 .ct-btn {
      font-size: 12px; } }

.version9 .ct-btn {
  margin: 0px 5px;
  background: #fff;
  color: #222;
  position: relative;
  display: inline-block;
  z-index: 1;
  font-weight: 600;
  max-width: 100%;
  padding: 8px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version9 .ct-btn.active {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .version9 .ct-btn.active:hover {
      background: #fff;
      color: #222;
      border-color: #fff; }
  @media (max-width: 413px) {
    .version9 .ct-btn {
      font-size: 12px; } }

.single-stat {
  margin-top: 30px; }
  .single-stat p {
    max-width: 250px; }

@media (max-width: 991px) {
  .active-dash-carusel, .social-right {
    margin-top: 50px; } }

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.pages #header {
  background: #fff; }

#header {
  padding: 14px 0px;
  padding-left: 7%;
  padding-right: 7%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

#header.header-scrolled {
  transition: all 0.5s;
  background: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }
  #header.header-scrolled #logo .logo-1 {
    display: none; }
  #header.header-scrolled #logo .logo-2 {
    display: inline-block; }
  #header.header-scrolled .nav-menu > a {
    color: #222; }

.signup-btn {
  margin-left: 30px !important;
  background-color: #edf6ff;
  border: 1px solid #bed2f0;
  color: #222 !important;
  padding: 8px 24px !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .signup-btn {
      display: none !important; } }
  .signup-btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #fff !important; }

#header #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header #logo h1 a, #header #logo h1 a:hover {
  padding-left: 10px;
  border-left: 4px solid #5fb9fd; }

#header #logo .logo-1 {
  padding: 0;
  margin: 0;
  width: 50%;
  display: inline-block; }
#header #logo .logo-2 {
  width: 50%; 
  display: none; }

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 28px; }

  #header #logo img {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  border-top: 2px solid #5fb9fd; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: -115%; }

.nav-menu ul li {
  min-width: 180px;
  border-bottom: 1px solid #edf6ff; }
  .nav-menu ul li:last-child {
    border-bottom: none; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\e874";
  position: absolute;
  right: 10px;
  font-family: 'Linearicons-Free';
  font-style: normal;
  font-weight: 700;
  font-size: 8px; }

.sf-arrows ul .sf-with-ul:after {
  content: "\e876"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 0px 8px;
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: none; }

.nav-menu .menu-active a {
  color: #5fb9fd !important; }

.nav-menu li > .menu-active {
  color: #5fb9fd !important; }

.parent-active > .sf-with-ul {
  color: #5fb9fd; }

.parent-active > ul .menu-active {
  color: #5fb9fd !important; }

#header.header-scrolled .nav-menu > li .menu-active {
  color: #5fb9fd !important; }
#header.header-scrolled .parent-active > a {
  color: #5fb9fd; }
#header.header-scrolled .nav-menu > li a:hover {
  color: #5fb9fd !important; }

#mobile-nav .nav-menu > li .menu-active {
  color: #5fb9fd !important; }

.nav-menu > li {
  margin-left: 30px; }

.nav-menu ul {
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px; }

.nav-menu ul li:hover a {
  color: #5fb9fd; }

.nav-menu ul ul {
  margin-top: 0;
  margin-right: 10px; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 18px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #222;
  font-weight: 900; }

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 600; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#header.header-scrolled .menu-has-children a:hover {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #5fb9fd; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.pages #header2 {
  background: #fff; }

#header2 {
  padding: 14px 0px;
  padding-left: 7%;
  padding-right: 7%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

#header2.header-scrolled {
  transition: all 0.5s;
  background: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }
  #header2.header-scrolled #logo .logo-1 {
    display: none; }
  #header2.header-scrolled #logo .logo-2 {
    display: inline-block; }
  #header2.header-scrolled .nav-menu > a {
    color: #222 !important; }

#header2 .signup-btn {
  margin-left: 30px !important;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.24);
  color: #fff !important;
  padding: 8px 24px !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    #header2 .signup-btn {
      display: none !important; } }
  #header2 .signup-btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #fff !important; }

#header2 #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header2 #logo h1 a, #header2 #logo h1 a:hover {
  padding-left: 10px;
  border-left: 4px solid #5fb9fd; }

#header2 #logo .logo-1 {
  padding: 0;
  margin: 0;
  width: 80%;
  display: inline-block; }
#header2 #logo .logo-2 {
  width: 80%;
  display: none; }

@media (max-width: 768px) {
  #header2 #logo h1 {
    font-size: 28px; }

  #header2 #logo img {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  border-top: 2px solid #5fb9fd; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: -115%; }

.nav-menu ul li {
  min-width: 180px;
  border-bottom: 1px solid #edf6ff; }
  .nav-menu ul li:last-child {
    border-bottom: none; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\e874";
  position: absolute;
  right: 10px;
  font-family: 'Linearicons-Free';
  font-style: normal;
  font-weight: 700;
  font-size: 8px; }

.sf-arrows ul .sf-with-ul:after {
  content: "\e876"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
#header2 .nav-menu2 > li > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: none; }

.nav-menu li > .menu-active {
  color: #5fb9fd !important; }

.parent-active > .sf-with-ul {
  color: #5fb9fd !important; }

.parent-active > ul .menu-active {
  color: #5fb9fd !important; }

#header2.header-scrolled .nav-menu > li .menu-active {
  color: #5fb9fd !important; }
#header2.header-scrolled .parent-active > a {
  color: #5fb9fd !important; }
#header2.header-scrolled .nav-menu > li a:hover {
  color: #5fb9fd !important; }
#header2.header-scrolled .nav-menu2 > li > a {
  color: #222; }
#header2.header-scrolled .signup-btn {
  background-color: #edf6ff;
  border: 1px solid #bed2f0;
  color: #222 !important; }

#mobile-nav .nav-menu > li .menu-active {
  color: #5fb9fd !important; }

.nav-menu > li {
  margin-left: 30px; }

.nav-menu ul {
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px; }

.nav-menu ul li:hover a {
  color: #5fb9fd; }

.nav-menu ul ul {
  margin-top: 0;
  margin-right: 10px; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 18px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #222;
  font-weight: 900; }

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 600; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#header2.header-scrolled .menu-has-children a:hover {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #5fb9fd; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Menu
--------------------------------------------------------------*/
.pages #header7 {
  background: #fff; }

#header7 {
  padding: 14px 0px;
  padding-left: 7%;
  padding-right: 7%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997; }

#header7.header-scrolled {
  transition: all 0.5s;
  background: #fff;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3); }
  #header7.header-scrolled #logo .logo-1 {
    display: none; }
  #header7.header-scrolled #logo .logo-2 {
    display: inline-block; }
  #header7.header-scrolled .nav-menu > a {
    color: #222 !important; }

#header7 .signup-btn {
  margin-left: 30px !important;
  background-color: #edf6ff;
  border: 1px solid #d8d8d8;
  color: #222 !important;
  padding: 8px 24px !important;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    #header7 .signup-btn {
      display: none !important; } }
  #header7 .signup-btn:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #fff !important; }

#header7 #logo h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px; }

#header7 #logo h1 a, #header7 #logo h1 a:hover {
  padding-left: 10px;
  border-left: 4px solid #5fb9fd; }

#header7 #logo .logo-1 {
  padding: 0;
  margin: 0;
  width: 80%;
  display: inline-block; }
#header7 #logo .logo-2 {
  width: 80%;
  display: none; }

@media (max-width: 768px) {
  #header7 #logo h1 {
    font-size: 28px; }

  #header7 #logo img {
    max-height: 40px; } }
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
  border-top: 2px solid #5fb9fd; }

.nav-menu li {
  position: relative;
  white-space: nowrap; }

.nav-menu > li {
  float: left; }

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block; }

.nav-menu ul ul {
  top: 0;
  left: -115%; }

.nav-menu ul li {
  min-width: 180px;
  border-bottom: 1px solid #edf6ff; }
  .nav-menu ul li:last-child {
    border-bottom: none; }

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px; }

.sf-arrows .sf-with-ul:after {
  content: "\e874";
  position: absolute;
  right: 10px;
  font-family: 'Linearicons-Free';
  font-style: normal;
  font-weight: 700;
  font-size: 8px; }

.sf-arrows ul .sf-with-ul:after {
  content: "\e876"; }

/* Nav Meu Container */
#nav-menu-container {
  margin: 0; }

@media (max-width: 768px) {
  #nav-menu-container {
    display: none; } }
#header7 .nav-menu2 > li > a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  outline: none; }

.nav-menu li > .menu-active {
  color: #5fb9fd !important; }

.parent-active > .sf-with-ul {
  color: #5fb9fd !important; }

.parent-active > ul .menu-active {
  color: #5fb9fd !important; }

#header7.header-scrolled .nav-menu > li .menu-active {
  color: #5fb9fd !important; }
#header7.header-scrolled .parent-active > a {
  color: #5fb9fd !important; }
#header7.header-scrolled .nav-menu > li a:hover {
  color: #5fb9fd !important; }
#header7.header-scrolled .nav-menu2 > li > a {
  color: #222; }
#header7.header-scrolled .signup-btn {
  background-color: #edf6ff;
  border: 1px solid #bed2f0;
  color: #222 !important; }

#mobile-nav .nav-menu > li .menu-active {
  color: #5fb9fd !important; }

.nav-menu > li {
  margin-left: 30px; }

.nav-menu ul {
  margin: 20px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff; }

.nav-menu ul li {
  transition: 0.3s; }

.nav-menu ul li a {
  padding: 5px 10px;
  color: #333;
  transition: 0.3s;
  display: block;
  font-size: 12px; }

.nav-menu ul li:hover a {
  color: #5fb9fd; }

.nav-menu ul ul {
  margin-top: 0;
  margin-right: 10px; }

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 18px;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  cursor: pointer; }

#mobile-nav-toggle i {
  color: #222;
  font-weight: 900; }

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline; }

  #nav-menu-container {
    display: none; } }
/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s; }

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none; }

#mobile-nav ul li {
  position: relative; }

#mobile-nav ul li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  font-weight: 600; }

#mobile-nav ul li a:hover {
  color: #fff; }

#mobile-nav ul li li {
  padding-left: 30px; }

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff; }

#header7.header-scrolled .menu-has-children a:hover {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #5fb9fd; }

#mobile-nav ul .menu-has-children li a {
  text-transform: none; }

#mobile-nav ul .menu-item-active {
  color: #5fb9fd; }

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  right: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden; }

body.mobile-nav-active #mobile-nav {
  left: 0; }

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff; }

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.version1 .hero-section {
  background: url(../img/hero/hero-bg.png) no-repeat left center/cover; }
  @media (max-width: 414px) {
    .version1 .hero-section .genric-btn {
      font-size: 12px; } }

.version1-1 .hero-section {
  background: url(../img/hero/hero-bg1-1.png) no-repeat left center/cover; }
  @media (max-width: 414px) {
    .version1-1 .hero-section .genric-btn {
      font-size: 12px; } }
  .version1-1 .hero-section .content-wrap h1 {
    color: #fff; }
    @media (max-width: 991px) {
      .version1-1 .hero-section .content-wrap h1 {
        font-size: 30px !important; } }
  .version1-1 .hero-section .content-wrap p {
    color: #fff; }
  @media (max-width: 767px) {
    .version1-1 .hero-section .content-wrap {
      margin-bottom: 50px; } }

.version2 .hero-section {
  background: url(../img/hero/hero-bg2.png) no-repeat bottom center/cover; }
.version2 .content-wrap h1 {
  color: #222; }
  @media (max-width: 991px) {
    .version2 .content-wrap h1 {
      font-size: 30px !important; } }
.version2 .content-wrap p {
  color: #222; }
@media (max-width: 767px) {
  .version2 .content-wrap {
    margin-bottom: 50px; } }

.version3 .hero-section {
  background: url(../img/hero/hero-bg2.png) no-repeat bottom center/cover; }
.version3 .content-wrap h1 {
  color: #fff; }
  @media (max-width: 991px) {
    .version3 .content-wrap h1 {
      font-size: 30px !important; } }
.version3 .content-wrap p {
  color: #fff; }
  @media (max-width: 991px) {
    .version3 .content-wrap p {
      color: #fff !important; } }
@media (max-width: 767px) {
  .version3 .content-wrap {
    margin-bottom: 50px; } }

.version3 .hero-section {
  background: url(../img/hero/hero-bg3.png) no-repeat bottom center/cover;
  background-size: 100% 100%; }
  .version3 .hero-section:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .6; }

.version4 .hero-section {
  background: url(../img/hero/hero-bg4.png) no-repeat bottom center/cover;
  background-size: 100% 100%; }
  .version4 .hero-section .content-wrap h1 {
    color: #fff; }
    @media (max-width: 991px) {
      .version4 .hero-section .content-wrap h1 {
        font-size: 30px !important; } }
  .version4 .hero-section .content-wrap p {
    color: #fff; }
  @media (max-width: 767px) {
    .version4 .hero-section .content-wrap {
      margin-bottom: 50px; } }

.version7 .hero-section {
  background: url(../img/hero/hero-bg7.png) no-repeat bottom center/cover;
  background-size: 100% 100%; }
  .version7 .hero-section .content-wrap h1 {
    color: #222; }
    @media (max-width: 991px) {
      .version7 .hero-section .content-wrap h1 {
        font-size: 30px !important; } }
  .version7 .hero-section .content-wrap p {
    color: #222; }
  @media (max-width: 767px) {
    .version7 .hero-section .content-wrap {
      margin-bottom: 50px; } }

.version8 .hero-section-bg .vdo-section {
  height: 100vh; }
  @media (max-width: 767px) {
    .version8 .hero-section-bg .vdo-section {
      height: 700px !important; } }
  .version8 .hero-section-bg .vdo-section .hero-vdo {
    width: 100%;
    height: 100%;
    object-fit: fill; }
.version8 .hero-section-bg #app-owl .items {
  position: relative; }
  .version8 .hero-section-bg #app-owl .items .owl-img {
    height: 100vh;
    filter: brightness(60%);
    -webkit-filter: brightness(60%);
    -moz-filter: brightness(60%);
    -ms-filter: brightness(60%); }
    @media (max-width: 991px) {
      .version8 .hero-section-bg #app-owl .items .owl-img {
        width: auto !important; } }
.version8 .hero-section-bg #app-owl .owl-controls .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 46%; }
  .version8 .hero-section-bg #app-owl .owl-controls .owl-dots .owl-dot {
    background: #6e737f;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 8px; }
  .version8 .hero-section-bg #app-owl .owl-controls .owl-dots .owl-dot.active {
    background: #ffffff;
    width: 42px;
    height: 8px;
    margin-right: 2px;
    border-radius: 11px; }
.version8 .hero-section-bg .content {
  position: absolute;
  bottom: 17%;
  right: 0;
  z-index: 10; }
  @media (max-width: 767px) {
    .version8 .hero-section-bg .content {
      padding: 0 24px;
      bottom: 28%; } }
  @media (max-width: 991px) {
    .version8 .hero-section-bg .content .hero-img8 {
      display: none; } }
  .version8 .hero-section-bg .content h1 {
    color: #222; }
    @media (max-width: 991px) {
      .version8 .hero-section-bg .content h1 {
        font-size: 30px !important; } }
  .version8 .hero-section-bg .content p {
    color: #222; }
  @media (max-width: 767px) {
    .version8 .hero-section-bg .content {
      margin-bottom: 50px; } }

.version9 .hero-section-bg .vdo-section {
  height: 100vh; }
  @media (max-width: 767px) {
    .version9 .hero-section-bg .vdo-section {
      height: 700px !important; } }
  .version9 .hero-section-bg .vdo-section .hero-vdo {
    width: 100%;
    height: 100%;
    object-fit: fill; }
.version9 .hero-section-bg #sass-owl .items .owl-img9 {
  height: 100vh; }
  @media (max-width: 991px) {
    .version9 .hero-section-bg #sass-owl .items .owl-img9 {
      width: auto !important; } }
.version9 .hero-section-bg #sass-owl .owl-item .items {
  position: relative; }
  .version9 .hero-section-bg #sass-owl .owl-item .items::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF; }
.version9 .hero-section-bg #sass-owl .owl-controls .owl-dots {
  position: absolute;
  bottom: 28px;
  left: 46%; }
  .version9 .hero-section-bg #sass-owl .owl-controls .owl-dots .owl-dot {
    background: #6e737f;
    width: 8px;
    height: 8px;
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 8px; }
  .version9 .hero-section-bg #sass-owl .owl-controls .owl-dots .owl-dot.active {
    background: #ffffff;
    width: 42px;
    height: 8px;
    margin-right: 2px;
    border-radius: 11px; }
.version9 .hero-section-bg .content {
  position: absolute;
  top: 16%;
  width: 100%;
  z-index: 10; }
  @media (max-width: 767px) {
    .version9 .hero-section-bg .content {
      padding: 0 24px;
      top: 28%; } }
  @media (max-width: 991px) {
    .version9 .hero-section-bg .content .hero-img8 {
      display: none; } }
  .version9 .hero-section-bg .content h1 {
    color: #fff; }
    @media (max-width: 991px) {
      .version9 .hero-section-bg .content h1 {
        font-size: 30px !important; } }
  .version9 .hero-section-bg .content p {
    color: #fff; }
  @media (max-width: 767px) {
    .version9 .hero-section-bg .content {
      margin-bottom: 50px; } }

@media (max-width: 991px) {
  .version-blog .hero-section-blog .content {
    margin-top: 30px;
    text-align: center; } }
@media (max-width: 991px) {
  .version-blog .hero-section-blog .content > h1 {
    font-size: 28px; } }
.version-blog .hero-section-blog .content .hero-bottom {
  margin-bottom: 80px;
  padding-right: 15%; }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog .content .hero-bottom {
      margin-bottom: 0px;
      align-items: center !important; } }
  .version-blog .hero-section-blog .content .hero-bottom .blog-summary .blog-link {
    margin-right: 24px;
    color: #6e737f; }
  .version-blog .hero-section-blog .content .hero-bottom .social-box .social-link {
    display: block; }
    .version-blog .hero-section-blog .content .hero-bottom .social-box .social-link:hover i {
      color: #5fb9fd; }
    .version-blog .hero-section-blog .content .hero-bottom .social-box .social-link i {
      color: #6e737f;
      margin-bottom: 22px; }
.version-blog .items .owl-img {
  height: 100vh;
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%); }
  @media (max-width: 991px) {
    .version-blog .items .owl-img {
      height: 400px; } }
.version-blog #blog-owl .owl-nav {
  position: absolute;
  top: 400px;
  right: 7%; }
  @media (max-width: 991px) {
    .version-blog #blog-owl .owl-nav {
      top: 560px;
      color: #fff; } }
.version-blog .hero-section-blog-details .blog-img {
  width: 100%;
  filter: brightness(65%);
  -webkit-filter: brightness(65%);
  -moz-filter: brightness(65%); }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .blog-img {
      height: 400px; } }
.version-blog .hero-section-blog-details .content {
  width: 100%;
  position: absolute;
  bottom: 50px; }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .content {
      bottom: 10%; } }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .content .content-wrap {
      display: block; } }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .content .content-wrap .content-wrap-child {
      display: block !important; } }
  .version-blog .hero-section-blog-details .content .content-wrap .text {
    margin-right: 50px; }
    @media (max-width: 991px) {
      .version-blog .hero-section-blog-details .content .content-wrap .text {
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px; } }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .content .content-wrap .icons {
      display: block !important;
      text-align: center; } }
  @media (max-width: 991px) {
    .version-blog .hero-section-blog-details .content .content-wrap .icons .icon {
      display: inline-block; } }
  .version-blog .hero-section-blog-details .content .social-link {
    margin: 0 10px; }
    .version-blog .hero-section-blog-details .content .social-link i {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      color: #fff; }
  .version-blog .hero-section-blog-details .content .social-link:hover i {
    color: #5fb9fd; }

@media (max-width: 991px) {
  .content-wrap h1 {
    font-size: 30px !important; } }
@media (max-width: 767px) {
  .content-wrap h1 {
    margin-bottom: 50px; } }

.hero-img {
  position: absolute;
  right: 0;
  bottom: 13%;
  width: 50%; }
  @media (max-width: 736px) {
    .hero-img {
      display: none; } }

.hero-img4 {
  position: absolute;
  right: 10px;
  top: -225px;
  width: 64%; }
  @media (max-width: 736px) {
    .hero-img4 {
      display: none; } }

.hero-img9 {
  position: relative;
  left: 200px;
  height: 80%;
  width: 64%;
  top: 105px; }
  @media (max-width: 736px) {
    .hero-img9 {
      display: none; } }

@media (max-width: 767px) {
  .hero-section {
    padding: 120px 0; }
    .hero-section .fullscreen {
      height: auto !important; } }
.hero-section .content-wrap {
  z-index: 2; }
  .hero-section .content-wrap h1 {
    font-size: 48px; }
    @media (max-width: 1199px) and (min-width: 992px) {
      .hero-section .content-wrap h1 {
        font-size: 30px; } }
    @media (max-width: 414px) {
      .hero-section .content-wrap h1 {
        font-size: 35px; } }
  @media (max-width: 991px) {
    .hero-section .content-wrap p {
      color: #222; } }

.hero-img-wrap {
  position: relative; }

/*--------------------------------------------------------------
# Price
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .version1 .price-section .col-lg-4:last-child .single-price {
    margin-bottom: 0px !important; } }

@media (max-width: 991px) {
  .version1-1 .price-section .col-lg-4:last-child .single-price {
    margin-bottom: 0px !important; } }

.version2 .price-section {
  background: url(../img/price-bg.jpg) no-repeat bottom center/cover; }
  @media (max-width: 991px) {
    .version2 .price-section .col-lg-4:last-child .single-price2 {
      margin-bottom: 0px !important; } }

@media (max-width: 991px) {
  .version3 .price-section .col-lg-4:last-child .single-price {
    margin-bottom: 0px !important; } }

.version4 .price-section {
  background: url(../img/price-bg.jpg) no-repeat bottom center/cover; }
  @media (max-width: 991px) {
    .version4 .price-section .col-lg-4:last-child .single-price2 {
      margin-bottom: 0px !important; } }

@media (max-width: 991px) {
  .version8 .price-section .col-lg-4:last-child .single-price {
    margin-bottom: 0px !important; } }

.version9 .price-section {
  background: url(../img/price-bg.jpg) no-repeat bottom center/cover; }
  @media (max-width: 991px) {
    .version9 .price-section .col-lg-4:last-child .single-price2 {
      margin-bottom: 0px !important; } }

.single-price {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
  .single-price .price-top {
    padding: 0px 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-price .price-top h4 {
      color: #222;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-price .price-top p {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      @media (max-width: 1199px) and (min-width: 992px) {
        .single-price .price-top p {
          font-size: 12px; } }
    .single-price .price-top .price p {
      color: #222; }
      .single-price .price-top .price p span {
        font-size: 36px; }
    .single-price .price-top .overlay-bg {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .single-price .price-bottom {
    padding: 30px;
    text-align: center; }
    .single-price .price-bottom .packlist li {
      border-bottom: 1px solid #eee;
      margin-bottom: 10px;
      padding-bottom: 10px; }
      .single-price .price-bottom .packlist li:last-child {
        border-bottom: none; }
      .single-price .price-bottom .packlist li .right {
        color: #222; }
    .single-price .price-bottom .price-btn {
      position: relative;
      display: inline-block;
      z-index: 1;
      max-width: 100%;
      padding: 8px 25px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      text-align: center;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #edf6ff;
      border: 1px solid #bed2f0;
      color: #222;
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-price .price-bottom .price-btn:hover {
        color: #fff; }
      @media (max-width: 1024px) and (min-width: 992px) {
        .single-price .price-bottom .price-btn {
          font-size: 12px !important; } }
      @media (max-width: 414px) {
        .single-price .price-bottom .price-btn {
          font-size: 12px !important; } }
  .single-price:hover .price-top .overlay-bg {
    opacity: 1; }
  .single-price:hover .price-top h4,
  .single-price:hover .price-top p {
    color: #fff; }
  .single-price:hover .price-btn {
    background-image: -moz-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%);
    background-image: -webkit-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%);
    background-image: -ms-linear-gradient(0deg, #5fb9fd 0%, #72e3a6 100%);
    color: #fff; }
  @media (max-width: 991px) {
    .single-price {
      margin-bottom: 50px; } }

.single-price2 {
  background: #fff;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .single-price2 {
      margin-bottom: 30px; } }
  .single-price2 .price-top {
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-price2 .price-top h1,
    .single-price2 .price-top h4,
    .single-price2 .price-top p {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-price2 .price-top .overlay-bg {
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .single-price2 .price-bottom {
    padding: 30px;
    margin-top: 20px; }
    .single-price2 .price-bottom .price-btn {
      position: relative;
      display: inline-block;
      z-index: 1;
      max-width: 100%;
      padding: 8px 25px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      text-align: center;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #edf6ff;
      border: 1px solid #bed2f0;
      color: #222;
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-price2 .price-bottom .price-btn:hover {
        color: #fff; }
      @media (max-width: 1024px) and (min-width: 992px) {
        .single-price2 .price-bottom .price-btn {
          font-size: 12px !important; } }
      @media (max-width: 414px) {
        .single-price2 .price-bottom .price-btn {
          font-size: 12px !important; } }
  .single-price2 .pack-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .single-price2 .pack-list li:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
  .single-price2:hover {
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
    .single-price2:hover .price-top .overlay-bg {
      opacity: 1; }
    .single-price2:hover .price-top h1,
    .single-price2:hover .price-top h4,
    .single-price2:hover .price-top p {
      color: #fff; }
    .single-price2:hover .price-btn {
      background-image: -webkit-linear-gradient(bottom, #9a88ff 0%, #5960ff 100%) !important;
      background-image: -o-linear-gradient(bottom, #9a88ff 0%, #5960ff 100%) !important;
      background-image: linear-gradient(to top, #9a88ff 0%, #5960ff 100%) !important;
      color: #fff; }

.single-price4 {
  background: #fff;
  padding: 20px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .single-price4 {
      margin-bottom: 30px; } }
  .single-price4 .price-top {
    padding: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .single-price4 .price-top h1,
    .single-price4 .price-top h4,
    .single-price4 .price-top p {
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-price4 .price-top .overlay-bg {
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
  .single-price4 .price-bottom {
    padding: 30px;
    margin-top: 20px; }
    .single-price4 .price-bottom .price-btn {
      position: relative;
      display: inline-block;
      z-index: 1;
      max-width: 100%;
      padding: 8px 25px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      border: none;
      text-align: center;
      overflow: hidden;
      vertical-align: middle;
      white-space: nowrap;
      text-overflow: ellipsis;
      background: #edf6ff;
      border: 1px solid #bed2f0;
      color: #222;
      display: inline-block;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .single-price4 .price-bottom .price-btn:hover {
        color: #fff; }
      @media (max-width: 1024px) and (min-width: 992px) {
        .single-price4 .price-bottom .price-btn {
          font-size: 12px !important; } }
      @media (max-width: 414px) {
        .single-price4 .price-bottom .price-btn {
          font-size: 12px !important; } }
  .single-price4 .pack-list li {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .single-price4 .pack-list li:last-child {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0; }
  .single-price4:hover {
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
    .single-price4:hover .price-top .overlay-bg {
      opacity: 1; }
    .single-price4:hover .price-top h1,
    .single-price4:hover .price-top h4,
    .single-price4:hover .price-top p {
      color: #fff; }
    .single-price4:hover .price-btn {
      background-image: linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
      background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
      background-image: -o-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
      color: #fff; }

/*--------------------------------------------------------------
# Points
--------------------------------------------------------------*/
@media (max-width: 575px) {
  .important-points-section {
    margin: 15px; } }

.single-points {
  border: 1px solid #d0e4f7;
  padding: 60px 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 991px) {
    .single-points {
      margin-bottom: 24px; }
      .single-points:last-child {
        margin-bottom: 0; } }
  .single-points h4 {
    margin: 30px 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-points:hover {
    cursor: pointer;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3);
    transform: scale(1.1); }
    .single-points:hover h4 {
      color: #5960ff; }

.about-left {
  padding: 80px 0px;
  max-width: 500px;
  padding-left: 50px; }
  @media (max-width: 991px) {
    .about-left {
      padding-left: 15px;
      padding-top: 0px; } }

/*--------------------------------------------------------------
# Feature
--------------------------------------------------------------*/
.feature-list {
  margin-bottom: 30px; }
  .feature-list:last-child {
    margin-bottom: 0px; }
  .feature-list .desc p {
    max-width: 450px; }
  @media (max-width: 991px) {
    .feature-list {
      margin-top: 50px; } }

.single-feature {
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-feature .icon {
    background: #fff;
    padding: 28px;
    border-radius: 10px; }
  @media (max-width: 1199px) {
    .single-feature .desc h4 {
      font-size: 18px; }
    .single-feature .desc p {
      font-size: 12px; } }
  .single-feature:hover {
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3);
    transform: scale(1.1); }

@media (max-width: 991px) {
  .feature-right {
    margin-top: 50px;
    text-align: center !important; }

  .active-feature-carusel {
    margin-bottom: 50px; } }
@media (max-width: 768px) {
  .feature-right p {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; } }
/*--------------------------------------------------------------
# Brands
--------------------------------------------------------------*/
.version1 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .30; }
  .version1 .brands-section img:hover {
    opacity: 1; }

.version2 .brands-section {
  background: #fff; }
  .version2 .brands-section .brand-wrap {
    border-bottom: 1px solid #edf6ff; }
  .version2 .brands-section img {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: .50;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    .version2 .brands-section img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(0%); }

.version3 .brands-section img, .version1-1 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .30; }
  .version3 .brands-section img:hover, .version1-1 .brands-section img:hover {
    opacity: 1; }

.version4 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .50;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
  .version4 .brands-section img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }

.version7 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .50;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
  .version7 .brands-section img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }

.version8 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .30; }
  .version8 .brands-section img:hover {
    opacity: 1; }

.version9 .brands-section img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: .50;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%); }
  .version9 .brands-section img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%); }

/*--------------------------------------------------------------
# Review
--------------------------------------------------------------*/
.single-review {
  border-radius: 5px;
  padding: 10px 15px; }
  .single-review .quote-wrap {
    text-align: center;
    box-shadow: 0px 10px 22px 0px rgba(135, 170, 218, 0.3);
    padding: 30px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .single-review .quote-wrap p {
      font-style: italic;
      margin-bottom: 0px; }
    .single-review .quote-wrap .star {
      margin-top: 30px; }
      .single-review .quote-wrap .star .checked {
        color: orange; }
  .single-review .userinfo-wrap {
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }
    .single-review .userinfo-wrap .overlay-bg {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-review .userinfo-wrap img {
      margin-right: 20px;
      width: auto !important; }
    .single-review .userinfo-wrap h4 {
      margin-bottom: 5px;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
    .single-review .userinfo-wrap p {
      margin-bottom: 0px; }
  .single-review:hover {
    cursor: pointer; }
    .single-review:hover .userinfo-wrap {
      color: #fff; }
      .single-review:hover .userinfo-wrap .overlay-bg {
        opacity: 1; }
      .single-review:hover .userinfo-wrap h4 {
        color: #fff; }

.client-review-section .owl-carousel .owl-item img {
  width: auto !important; }
  @media (max-width: 991px) {
    .client-review-section .owl-carousel .owl-item img {
      opacity: .1; } }

.single-review-2 .desc {
  position: relative; }
  .single-review-2 .desc .review-bg {
    position: absolute;
    left: 270px;
    bottom: 0; }
    @media (max-width: 991px) {
      .single-review-2 .desc .review-bg {
        display: none; } }
  .single-review-2 .desc .review-bg2 {
    padding-left: 110px; }
    @media (max-width: 991px) {
      .single-review-2 .desc .review-bg2 {
        padding-left: 0; } }
  .single-review-2 .desc .content {
    position: absolute;
    left: 512px;
    bottom: 42px;
    max-width: 460px; }
    @media (max-width: 991px) {
      .single-review-2 .desc .content {
        width: 100%;
        left: 100%;
        padding: 0 22px;
        opacity: 1;
        color: #222; } }
  .single-review-2 .desc h4 {
    margin-top: 40px; }
  .single-review-2 .desc p {
    margin-bottom: 0px; }
  @media (max-width: 991px) {
    .single-review-2 .desc {
      text-align: center; } }
@media (max-width: 1199px) {
  .single-review-2 .thumb {
    margin-bottom: 30px;
    text-align: center !important; }
    .single-review-2 .thumb img {
      margin-right: auto;
      margin-left: auto;
      display: inline-block; } }

/*--------------------------------------------------------------
# Execution
--------------------------------------------------------------*/
.execution-secation {
  background: url(../img/ex-bg.jpg) no-repeat center/cover; }
  @media (max-width: 991px) {
    .execution-secation .single-ex-process {
      margin-bottom: 30px; } }

/*--------------------------------------------------------------
# Accordian
--------------------------------------------------------------*/
.accordian-tab-menu .nav-link {
  background: #edf6ff;
  color: #222 !important;
  border: 1px solid #bed2f0;
  border-radius: 0px;
  margin: 5px 10px;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .accordian-tab-menu .nav-link {
      font-size: 10px;
      padding: 5px 8px; } }
  @media (max-width: 414px) {
    .accordian-tab-menu .nav-link {
      margin: 2px 0px; } }
.accordian-tab-menu .nav-link.active {
  color: #fff !important; }

.accordion > dt {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400; }

.accordion > dt > a {
  display: block;
  position: relative;
  color: #222222;
  text-decoration: none;
  padding: 9px 30px;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #edf6ff; }
  @media (max-width: 414px) {
    .accordion > dt > a {
      font-size: 12px; } }

.accordion > dt > a:hover {
  text-decoration: none; }

.accordion > dt > a.active {
  color: #5960ff;
  border-color: #ddd;
  cursor: default;
  border-bottom: 1px solid #5960ff;
  background: transparent; }

.accordion > dt > a:after {
  content: "\e873";
  width: 15px;
  height: 15px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  left: 10px;
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #222;
  -webkit-font-smoothing: antialiased; }

.accordion > dt > a.active:after,
.accordion > dt > a.active:hover:after {
  content: "\e874";
  color: #5960ff; }

.accordion > dt > a:hover:after {
  color: #444; }

.accordion > dd {
  margin-bottom: 10px;
  padding: 10px 20px 20px;
  font-size: 14px;
  line-height: 1.8;
  color: #777; }

.accordion > dt > a,
.accordion > dt > a:after,
.toggle > dt > a,
.toggle > dt > a:after {
  -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
  transition: all 0.27s cubic-bezier(0, 0, 0.58, 1); }

dl.accordion.time-line {
  position: relative; }

dl.accordion.time-line:before {
  border-left: 1px dashed #cecece;
  bottom: 10px;
  content: "";
  left: 15px;
  position: absolute;
  top: 25px;
  z-index: 0; }

.accordion.time-line > dd {
  margin-bottom: 10px;
  padding: 10px 20px 20px 40px;
  font-size: 14px;
  line-height: 1.8;
  color: #777; }

.accordion.time-line > dt > a:after {
  content: "\e648";
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  left: 0;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  font-size: 20px;
  text-align: center;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  background: #222;
  padding-left: 3px; }

.accordion.time-line > dt > a.active:after,
.accordion.time-line > dt > a.active:hover:after {
  content: "\e641";
  color: #fff; }

.accordion.time-line > dt > a {
  display: block;
  position: relative;
  color: #222222;
  text-decoration: none;
  padding: 14px 20px 14px 40px;
  border: none;
  letter-spacing: 3px; }

.accordion.time-line > dt > a:hover,
.accordion.time-line > dt > a.active {
  background: none !important; }

/*--------------------------------------------------------------
# Carusel
--------------------------------------------------------------*/
.marketing-section .marketing-left {
  padding-left: 20%; }
  @media (max-width: 1366px) {
    .marketing-section .marketing-left {
      padding-left: 4%; } }
.marketing-section .marketing-right .active-dash-carusel {
  max-width: 850px; }
  @media (max-width: 991px) {
    .marketing-section .marketing-right .active-dash-carusel {
      margin-right: auto;
      margin-left: auto;
      display: block; } }

/*--------------------------------------------------------------
# Requesr Demo
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .req-demo-left {
    margin-bottom: 50px; } }

.req-demo-right .form-control {
  border-radius: 0px;
  width: 100%;
  border-color: #bed2f0;
  padding: 0.675rem 0.75rem;
  font-size: 14px; }
  .req-demo-right .form-control:focus {
    background: #edf6ff;
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
  .req-demo-right .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1;
    /* Firefox */ }
  .req-demo-right .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc; }
  .req-demo-right .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc; }

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.version1 .single-card:hover .card-title {
  color: #5fb9fd; }

.version2 .single-card:hover .card-title {
  color: #5960ff; }

.version1-1 .single-card:hover .card-title {
  color: #5fb9fd; }

.version3 .single-card:hover .card-title {
  color: #5fb9fd; }

.version4 .single-card:hover .card-title {
  color: #5960ff; }

.version8 .single-card:hover .card-title {
  color: #5fb9fd; }

.version9 .single-card:hover .card-title {
  color: #5960ff; }

.author a {
  color: #5fb9fd; }

.single-card {
  border: none;
  border-radius: 0 !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .single-card:hover {
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
  .single-card .card-title {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .single-card .card-top-img {
    border-radius: 0 !important;
    width: 100%; }
  .single-card .card-btn {
    position: absolute !important;
    bottom: 58%;
    left: 10%; }
  .single-card .card-link {
    color: #cccccc; }
    .single-card .card-link i {
      margin-right: 10px; }
  @media (max-width: 991px) {
    .single-card {
      margin-top: 30px; } }

@media (max-width: 991px) {
  .version-blog .blog-post {
    padding-top: 20px; } }
.version-blog .blog-post .single-card {
  margin-bottom: 36px; }
  @media (max-width: 991px) {
    .version-blog .blog-post .single-card {
      margin-top: 0px; } }
  @media (max-width: 991px) {
    .version-blog .blog-post .single-card p {
      margin-bottom: 10px;
      margin-top: 0; } }
  .version-blog .blog-post .single-card:hover .card-title {
    color: #5fb9fd; }
  .version-blog .blog-post .single-card .card-btn {
    bottom: 58% !important; }
@media (max-width: 991px) {
  .version-blog .blog-post-list {
    padding-top: 20px; } }
.version-blog .blog-post-list .single-card {
  margin-bottom: 36px; }
  @media (max-width: 991px) {
    .version-blog .blog-post-list .single-card {
      margin-top: 0px; } }
  .version-blog .blog-post-list .single-card:hover .card-title {
    color: #5fb9fd; }
  .version-blog .blog-post-list .single-card .card-btn {
    bottom: 10% !important; }
.version-blog .pagination .page-item .page-link {
  border: none !important; }
  .version-blog .pagination .page-item .page-link:focus {
    box-shadow: none; }
.version-blog .side-bar {
  padding: 30px;
  border: 1px solid #d6d6d6; }
  @media (max-width: 991px) {
    .version-blog .side-bar {
      margin-top: 60px; } }
  .version-blog .side-bar .form-wrap {
    border-bottom: 1px solid #e4e4e4; }
    .version-blog .side-bar .form-wrap .form-control {
      border: 0; }
      .version-blog .side-bar .form-wrap .form-control:focus {
        outline: 0;
        box-shadow: none; }
    .version-blog .side-bar .form-wrap .search-btn {
      border: 0; }
.version-blog .recent-news .news-box:hover .news-head {
  color: #5fb9fd; }
@media (max-width: 991px) {
  .version-blog .recent-news .news-info {
    margin-left: 0;
    margin-top: 16px;
    margin-bottom: 22px; } }
.version-blog .recent-news .news-info .news-head {
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
.version-blog .post-cat .cat-box {
  padding: 10px 24px;
  background: #edf6ff;
  margin-bottom: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .version-blog .post-cat .cat-box:hover {
    background: transparent; }
  .version-blog .post-cat .cat-box .cat-link {
    font-size: 15px;
    color: #777777; }
.version-blog .post-cat .cat-box:hover .cat-link {
  color: #5fb9fd; }
.version-blog .add {
  width: 300px;
  height: 250px;
  background: #edf6ff; }
.version-blog .social-profile .signup-btn {
  text-transform: capitalize !important;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 0px !important;
  margin-right: 5px;
  font-size: 14px;
  color: #777777;
  border: 0;
  font-weight: 500; }
  .version-blog .social-profile .signup-btn:hover {
    box-shadow: none; }
  .version-blog .social-profile .signup-btn i {
    margin-right: 6px; }
  @media (max-width: 991px) {
    .version-blog .social-profile .signup-btn {
      display: inline-block !important; } }
.version-blog .details-body .head {
  margin-bottom: 30px; }
.version-blog .details-body .sub-head {
  margin: 50px 0 20px; }
.version-blog .details-body .blog-para {
  margin-top: 40px 0 30px; }
.version-blog .details-body .blog-quotes {
  font-style: italic;
  font-weight: 700; }
.version-blog .details-body .post-links .next-post i, .version-blog .details-body .post-links .prev-post i {
  position: absolute;
  top: 33%;
  left: 38%;
  color: white;
  font-size: 18px;
  opacity: 0; }
.version-blog .details-body .next-post:hover i, .version-blog .details-body .prev-post:hover i {
  opacity: 1;
  z-index: 2; }
.version-blog .details-body .next-post:hover .posts, .version-blog .details-body .prev-post:hover .posts {
  background-image: -webkit-linear-gradient(0deg, rgba(95, 185, 253, 0.87) 0%, rgba(114, 227, 166, 0.72157) 100%);
  background-image: -ms-linear-gradient(0deg, rgba(95, 185, 253, 0.87) 0%, rgba(114, 227, 166, 0.72157) 100%);
  background-image: -moz-linear-gradient(0deg, rgba(95, 185, 253, 0.87) 0%, rgba(114, 227, 166, 0.72157) 100%);
  background-image: linear-gradient(0deg, rgba(95, 185, 253, 0.87) 0%, rgba(114, 227, 166, 0.72157) 100%); }
.version-blog .comment-section {
  margin: 50px 0 30px; }
  .version-blog .comment-section .comment-head {
    margin-bottom: 30px; }
  .version-blog .comment-section .comment {
    margin-top: 30px; }
    .version-blog .comment-section .comment .comment-img {
      margin-right: 25px; }
    .version-blog .comment-section .comment .comment-btn {
      color: #5fb9fd;
      border: 0;
      cursor: pointer; }
  .version-blog .comment-section .comment-reply {
    margin-left: 40px; }
    .version-blog .comment-section .comment-reply .comment-reply-single {
      margin-top: 20px; }
.version-blog .post-comment .post-form .form-control {
  border-radius: 0px;
  width: 100%;
  border-color: #bed2f0;
  padding: 0.675rem 0.75rem;
  font-size: 14px; }
  .version-blog .post-comment .post-form .form-control:focus {
    background: #edf6ff;
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }

/*--------------------------------------------------------------
# Features 
--------------------------------------------------------------*/
.features-content h4 {
  margin-bottom: 25px; }
.features-content p {
  margin-bottom: 50px; }
  .features-content p:last-child {
    margin-bottom: 0; }

.faq-section .content-wrap .details {
  max-width: 810px;
  max-width: 810px;
  margin: 0 auto; }
.faq-section .faq-tabs .nav-pills .nav-item .nav-link {
  background-color: #edf6ff;
  border: 1px solid #bed2f0;
  text-transform: uppercase;
  color: #222;
  font-weight: 600;
  font-size: 12px; }
  .faq-section .faq-tabs .nav-pills .nav-item .nav-link:hover {
    background-image: linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
    background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
    background-image: -o-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
    background-image: linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    color: #fff !important; }
.faq-section .faq-tabs .nav-pills .nav-item .nav-link.active {
  background-image: linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
  background-image: -webkit-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
  background-image: -o-linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
  background-image: linear-gradient(0deg, #9a88ff 0%, #5a61ff 100%) !important;
  color: #fff !important; }
.faq-section .faq-tabs .tab-content .card {
  border: 0; }
  .faq-section .faq-tabs .tab-content .card .card-header {
    background-color: transparent; }
    .faq-section .faq-tabs .tab-content .card .card-header [data-toggle="collapse"] .fa:before {
      content: "\f063"; }
    .faq-section .faq-tabs .tab-content .card .card-header [data-toggle="collapse"].collapsed .fa:before {
      content: "\f062"; }
    .faq-section .faq-tabs .tab-content .card .card-header .btn-link {
      color: #222;
      font-size: 18px; }
      .faq-section .faq-tabs .tab-content .card .card-header .btn-link i {
        margin-right: 10px; }
  .faq-section .faq-tabs .tab-content .card .card-body {
    margin-left: 40px; }

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.version2 .contact-section {
  background: url(../img/contact/contact-bg.jpg) no-repeat left; }

.version4 .contact-section {
  background: url(../img/contact/contact-bg.jpg) no-repeat left; }

.version9 .contact-section {
  background: url(../img/contact/contact-bg.jpg) no-repeat left; }

.map-wrap {
  width: 100%;
  height: 448px; }

.map-wrap2 {
  width: 100%;
  height: 558px; }

.contact-left .contact-info {
  position: absolute;
  top: 17%;
  left: 17%;
  padding: 45px;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3);
  max-width: 400px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  .contact-left .contact-info .single-line {
    margin-bottom: 20px; }
    .contact-left .contact-info .single-line:last-child {
      margin-bottom: 0px; }
    .contact-left .contact-info .single-line .icon .lnr {
      font-size: 22px;
      font-weight: 700;
      color: #5fb9fd;
      margin-right: 20px; }
  @media (max-width: 991px) and (min-width: 768px) {
    .contact-left .contact-info {
      left: 0px; } }
  @media (max-width: 414px) {
    .contact-left .contact-info {
      left: 0px;
      max-width: 100%; } }
@media (max-width: 767px) {
  .contact-left {
    margin-bottom: 50px; } }

.contact-right, .contact-form-section {
  text-align: right; }
  .contact-right .form-control, .contact-form-section .form-control {
    border-radius: 0px;
    width: 100%;
    border-color: #bed2f0;
    padding: 0.675rem 0.75rem;
    font-size: 14px; }
    .contact-right .form-control:focus, .contact-form-section .form-control:focus {
      background: #edf6ff;
      box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3); }
    .contact-right .form-control::placeholder, .contact-form-section .form-control::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #ccc;
      opacity: 1;
      /* Firefox */ }
    .contact-right .form-control:-ms-input-placeholder, .contact-form-section .form-control:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ccc; }
    .contact-right .form-control::-ms-input-placeholder, .contact-form-section .form-control::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #ccc; }

.info-wrap {
  position: absolute;
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }
  .info-wrap .contact-info {
    padding: 45px;
    background-color: white;
    box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3);
    max-width: 400px; }
    .info-wrap .contact-info .single-line {
      margin-bottom: 20px; }
      .info-wrap .contact-info .single-line:last-child {
        margin-bottom: 0px; }
      .info-wrap .contact-info .single-line .icon .lnr {
        font-size: 22px;
        font-weight: 700;
        color: #5960ff;
        margin-right: 20px; }
    @media (max-width: 991px) and (min-width: 768px) {
      .info-wrap .contact-info {
        left: 0px; } }
    @media (max-width: 414px) {
      .info-wrap .contact-info {
        left: 0px;
        max-width: 100%; } }

.cross-btn {
  position: absolute;
  top: 12px;
  right: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #5fb9fd; }
  .cross-btn:hover {
    cursor: pointer; }

.show-btn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: #5fb9fd;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(135, 170, 218, 0.3);
  font-size: 18px;
  padding: 20px;
  font-weight: 700; }
  .show-btn:hover {
    cursor: pointer; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-area {
  background: url(../img/footer/footer2-bg.jpg) no-repeat bottom center/cover; }
  .footer-area .social-icons a:hover {
    background: #fff !important;
    color: #5960ff !important; }

.footer-area .single-footer-widget h4 {
  color: #fff;
  margin-bottom: 40px; }
.footer-area .single-footer-widget p {
  color: #fff; }
.footer-area .single-footer-widget .menu-list li {
  margin-bottom: 15px; }
  .footer-area .single-footer-widget .menu-list li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
    .footer-area .single-footer-widget .menu-list li a:hover {
      text-decoration: underline; }
.footer-area .single-footer-widget .social-icons li {
  display: inline-block;
  margin-bottom: 5px; }
  .footer-area .single-footer-widget .social-icons li a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
.footer-area .single-footer-widget .newsletter-form .form-wrap {
  border: 1px solid #fff; }
.footer-area .single-footer-widget .newsletter-form .form-control {
  border-radius: 0px;
  font-size: 14px;
  border: none;
  width: 100%;
  overflow: hidden;
  color: #495057; }
  .footer-area .single-footer-widget .newsletter-form .form-control:focus {
    box-shadow: none;
    color: #495057 !important; }
  .footer-area .single-footer-widget .newsletter-form .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1;
    /* Firefox */ }
  .footer-area .single-footer-widget .newsletter-form .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc; }
  .footer-area .single-footer-widget .newsletter-form .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ccc; }
.footer-area .single-footer-widget .newsletter-form .submit-btn {
  box-shadow: none;
  border: none;
  color: #fff;
  padding: 0px 10px; }
  .footer-area .single-footer-widget .newsletter-form .submit-btn .lnr {
    font-weight: 700; }
  .footer-area .single-footer-widget .newsletter-form .submit-btn:hover {
    cursor: pointer; }
.footer-area .single-footer-widget .newsletter-form .info {
  color: #00ff18 !important; }
  .footer-area .single-footer-widget .newsletter-form .info a {
    color: #fff !important;
    text-decoration: underline; }
.footer-area .single-footer-widget .newsletter-form .error {
  color: #960000 !important; }
@media (max-width: 991px) {
  .footer-area .single-footer-widget {
    margin-bottom: 50px; } }
.footer-area .footer-bottom {
  text-align: center; }
  .footer-area .footer-bottom p {
    color: #fff; }
    .footer-area .footer-bottom p a {
      color: #fff;
      text-decoration: underline; }
  @media (max-width: 991px) {
    .footer-area .footer-bottom {
      margin-top: 0px !important; } }

/*# sourceMappingURL=main.css.map */
